In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weight-height.csv')

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

# Separating X & Y (Gender)

In [4]:
x = df.drop('Gender', axis=1)

In [5]:
x.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [6]:
y = df[['Gender']]

In [7]:
y.head()

  Gender
0   Male
1   Male
2   Male
3   Male
4   Male

# Splitting dataset into Train = 70%, Test = 30%

In [8]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30)

# Applying KNN Classifier

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [10]:
knn.fit(xtrain, ytrain)

C:\Users\User\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [19]:
ytest['Predicted Gender'] = knn.predict(xtest)

In [20]:
ytest

      Gender Predicted Gender
7439  Female           Female
930     Male             Male
6629  Female           Female
110     Male             Male
5843  Female           Female
...      ...              ...
6689  Female           Female
210     Male             Male
1865    Male             Male
834     Male             Male
8483  Female           Female

[2567 rows x 2 columns]

In [21]:
ytest = ytest.drop('Predicted Gender', axis=1)

# Evaluating the Model by only Accuracy.

In [22]:
knn.score(xtrain, ytrain)

0.9382097528390113

In [23]:
knn.score(xtest, ytest)

0.9029996104402026